@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pathway+Gothic+One&display=swap');


body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: #B5CDF0;
  height: 100vh;
}