
.singlePage {
  margin-bottom:15%;
}

.containerDetails{
  width: 100%;
  background: #A4BEE5;
  margin-top: 2%;
  margin-bottom:5%;
}

.ContactInfo{
  text-align: center;
  font-size: 50%;
  background-color: #92aed8;
  padding: 5%;
  margin-bottom: 5%;
}



.ContactInfo h4{
  font-family: 'Libre Baskerville'; 
  font-weight: 400; 
  margin: 0;
  font-size: 4vw;
}

.ContactInfo ul{
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.ContactInfo li{
  
  max-width: 100%;
  font-size: 4vw;
}

.ContactInfo li a {
  max-width: 50%;
  font-size: 4vw;
}
.singlePage .writerInfo {
  font-family: 'Libre Baskerville', sans;
  font-size: 2vw;
  text-transform: capitalize;
  width: 90%;
  margin-left:5%;
  line-height: 50%;
  text-align:right;
  color:#B11F54;
}
.singlePage hr{
  border: 0.5px solid #1E1E1E;
}
.singlePage img {
  width: 90%;
  margin-left: 5%;
  max-height: 20em;
  object-fit: cover;
}
.singlePage h1 {
  font-family: 'Abril Fatface',sans-serif;
  font-weight: 500;
}


.singlePage p {
  margin: 20px 0;
  font-size: 100%;
  line-height: 2;
  font-family: "Libre Baskerville", sans;
}



.singlePage .left{
  width:90%;
  margin-left:5%;
}
.singlePage .left h3{
  margin: 0;
  margin-top:0;
  font-weight: 400;
  font-size: 4vw;
}
.singlePage .left h1{
  color: #B11F54;
  max-width: 100%;
  font-size: 7vw;
  margin-bottom:0;
  margin-top:2%;
}
.singlePage .buttons {
  display: flex;
  justify-content: flex-end;
}
.singlePage .button {
  margin-left: 20px;
  border: none;
}
.singlePage .button:nth-child(1) {
  background: #10ac84;
}
.singlePage .button:nth-child(2) {
  background: #ee5253;
}